/**
  Нормализация блочной модели
 */
 *,
 ::before,
 ::after {
   box-sizing: border-box;
 }
 
 /**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
 :where(ul, ol):where([class]) {
   padding-left: 0;
 }
 
 /**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
 body,
 :where(blockquote, figure):where([class]) {
   margin: 0;
 }
 
 /**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
 :where(
   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   p,
   ul,
   ol,
   dl
 ):where([class]) {
   margin-block: 0;
 }
 
 :where(dd[class]) {
   margin-left: 0;
 }
 
 :where(fieldset[class]) {
   margin-left: 0;
   padding: 0;
   border: none;
 }
 
 /**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
 :where(ul[class]) {
   list-style: none;
 }
 
 :where(address[class]) {
   font-style: normal;
 }
 
 /**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
 p {
   --paragraphMarginBottom: 24px;
 
   margin-block: 0;
 }
 
 /**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
 p:where(:not([class]):not(:last-child)) {
   margin-bottom: var(--paragraphMarginBottom);
 }
 
 
 /**
   Упрощаем работу с изображениями и видео
  */
 img,
 video {
   display: block;
   max-width: 100%;
   height: auto;
 }
 
 /**
   Наследуем свойства шрифт для полей ввода
  */
 input,
 textarea,
 select,
 button {
   font: inherit;
 }
 
 html {
   /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
   height: 100%;
   /**
     Убираем скачок интерфейса по горизонтали
     при появлении / исчезновении скроллбара
    */
   scrollbar-gutter: stable;
 }
 
 /**
   Плавный скролл
  */
 html,
 :has(:target) {
   scroll-behavior: smooth;
 }
 
 body {
   /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
   min-height: 100%;
   /**
     Унифицированный интерлиньяж
    */
   line-height: 1.5;
 }
 
 /**
   Нормализация высоты элемента ссылки при его инспектировании в DevTools
  */
 a:where([class]) {
   display: inline-flex;
 }
 
 /**
   Курсор-рука при наведении на элемент
  */
 button,
 label {
   cursor: pointer;
 }
 
 /**
   Приводим к единому цвету svg-элементы
   (за исключением тех, у которых уже указан
   атрибут fill со значением 'none' или начинается с 'url')
  */
 :where([fill]:not(
   [fill="none"],
   [fill^="url"]
 )) {
   fill: currentColor;
 }
 
 /**
   Приводим к единому цвету svg-элементы
   (за исключением тех, у которых уже указан
   атрибут stroke со значением 'none')
  */
 :where([stroke]:not(
   [stroke="none"],
   [stroke^="url"]
 )) {
   stroke: currentColor;
 }
 
 /**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
 svg * {
   transition-property: fill, stroke;
 }
 
 /**
   Приведение рамок таблиц в классический 'collapse' вид
  */
 :where(table) {
   border-collapse: collapse;
   border-color: currentColor;
 }
 
 /**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
 @media (prefers-reduced-motion: reduce) {
   *,
   ::before,
   ::after {
     animation-duration: 0.01ms !important;
     animation-iteration-count: 1 !important;
     transition-duration: 0.01ms !important;
     scroll-behavior: auto !important;
   }
 }

 :root {
    --color-dark: #131313;
    --color-orange: #C74817;
    --color-brown: #D3A863;
    --color-beige: #FCFAF9;
    --color-light: #FFFFFF;

    --color-beige-background: #F7F3F0;

    --font-family-base: "OpenSans", sans-serif;
    --font-family-ui: "Segoe_UI", sans-serif;

    --container: 1330px;
    --container-padding: 15px;

    --transition-duration: 0.3s;
 }

 body {
  margin: 0 auto;

  min-width: calc(250px + (1500 - 250) * ((100vw - 500px) / (1920 - 500)));

  font-family: var(--font-family-base);
  font-size: 18px;
  font-weight: 400;
  line-height: 30.01px;
  color: #5B5858;

  background-color: #F7F3F0;

  background-image: url("./img/bee.png"), url("./img/line2.png"), url("./img/acute\ plant.png"), url("./img/bee3.png"), url("./img/bee4.png"), url("./img/black-bee.png"), url("./img/line.png"), url("./img/honey-text.png"), url("./img/honey.png"), url("./img/round\ plant.png"), url("./img/flowers.png"), url("./img/bee2.png"),
  url("./img/bee5.png"), 
  url("./img/bee.png"), url("./img/round\ plant.png"), url("./img/bee6.png");
  background-size: 44px 58px, 472px 185px, 188px 211px, 58px 38px, 77px 57px, 42px 47px, 456px 102px, 225px 147px, 759px 805px, 183px 236px, 167px 266px, 74px 53px,
  57px 46px, 
  44px 58px, 183px 236px, 74px 53px;
  background-position: 4.688vw 572px, 23.958vw 835px, 100% 592px, 53.281vw 284px, 79.115vw 224px, 96.875vw 248px, clamp(1150px, 1467px, 76.406vw) 269px, clamp(1100px, 80.26vw, 80.26vw) 362px, clamp(580px, 49.219vw, 49.219vw) 149px, 0px 194px, 0px 814px, 25.104vw 244px,
  90.469vw 1199px, 
  4.688vw 2180px, 0px 2470px, 86.458vw 2000px;
  background-repeat: no-repeat;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: #3C3C3C;
  text-decoration: none;
}

a:hover {
  color: var(--color-orange);
}

button, .button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 60px;

  border: transparent;

  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: var(--color-light);

  background-color: var(--color-orange);
}

button:hover, .button:hover {
  color: var(--color-light);
  background-color: var(--color-brown);
}

h1, h2, h3, h4, h5, h6 * {
  font-size: 36px;
  font-weight: 700;
  line-height: 55.01px;
  color: var(--color-dark);
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

header {
  display: flex;
  align-items: center;
  column-gap: 305px;

  width: var(--container);
  height: 120px;

  padding-inline: var(--container-padding);
  margin: 0 auto;
}

.header-logo {
  flex-shrink: 0;

  size: 1;
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-item {
  display: inline-flex;
  align-items: center;

  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 2.25px;
  text-transform: uppercase;
}

.button-contact {
  background-color: var(--color-brown);

  width: 140px;
  height: 50px;

  font-size: 12px;
  letter-spacing: 2.1px;
}

.button-contact:hover {
  background-color: var(--color-orange);
}

.welcome {
  display: flex;
  align-items: center;

  height: 960px;
  width: var(--container);

  margin: 0 auto;
  padding-inline: var(--container-padding);
}

.welcome-body {
  padding-bottom: 150px;
}

.welcome-slogan {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 5px;
  color: var(--color-dark);

  margin-bottom: 30px;
}

.welcome-title {
  font-size: 96px;
  line-height: 113px;

  margin-bottom: 30px;
}

.welcome-text {
  width: clamp(500px, 26.042vw, 900px);

  margin-bottom: 40px;
}

.button-view-more {
  width: clamp(170px, 8.854vw, 200px);
}

.button-chat {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding-inline: 20px;

  width: 105px;
  height: 50px;

  border-radius: 100px;

  background-color: #EE2852;

  font-family: var(--font-family-ui);
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.6px;
  text-transform: none;
}

.button-chat::before {
  content: url(./img/chat-icon.svg);
  width: 20px;
  height: 20px;

  margin-right: 8px;
}

.our-mission-news {
  display: flex;
  gap: 78px;

  width: var(--container);

  margin: 0 auto;
  padding-inline: var(--container-padding);
}

.our-mission-title {
  line-height: 45px;
  
  margin-top: 28px;
  margin-bottom: 30px;
}

.our-mission-text {
  width: 792px;
  margin-bottom: 15px;
}

.img-signature {
  margin-top: 33px;
}

.news {
  background-color: var(--color-light);
}

.news-title {
  margin-top: 38px;
  margin-left: 40px;
  margin-bottom: 25px;
}

.news-list {
  display: grid;
  gap: 44px;
}

.news-item-data {
  font-size: 13px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  color: var(--color-orange);

  margin-left: 40px;
}

.news-item-title {
  width: 322px;
  font-size: 20px;
  line-height: 30.01px;

  margin-left: 40px;
  margin-bottom: 5px;
}

.news-item-text {
  font-size: 15px;
  line-height: 24px;

  margin-left: 40px;
  margin-right: 59px;
}

.show-more-news {
  display: flex;

  height: auto;
  width: auto;

  background-color: transparent;
  color: var(--color-dark);
  font-size: 13px;
  letter-spacing: 1.95px;

  margin-left: 40px;
  margin-top: 38px;
}

.our-products {
  width: var(--container);

  margin: 0 auto;
  padding-inline: var(--container-padding);
}

.our-products-title {
  text-align: center;
  
  margin-top: 130px;
  margin-bottom: 17px;
}

.our-products-text {
  width: 620px;

  text-align: center;

  margin: 0 auto;
}

.our-products-list {
  display: flex;
  gap: 42px;
}

.our-products-item {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.our-products-item-new::before {
  content: url(./img/new-icon.svg);
  position: absolute;

  margin-left: 250px;
  padding-top: 45px;
}

.our-products-item-title {
  font-size: 20px;
  line-height: 32.01px;

  margin-top: 10px;
}

.our-products-item-price {
  font-weight: 700;
  font-size: 22px;
  color: var(--color-orange);
}

.our-products-item-text {
  width: 360px;

  font-size: 15px;
  text-align: center;
  
  margin: 0 auto;
  margin-top: 13px;
}

.button-add-to-cart {
  height: auto;
  width: auto;
  
  font-size: 12px;
  letter-spacing: 1.95px;
  color: var(--color-dark);

  background: transparent;

  margin-top: 25px;
}

.button-add-to-cart::before {
  content: url(./img/cart.svg);
  
  vertical-align: -7%;
  margin-right: 11px;
}

.button-add-to-cart:hover::before {
  content: url(./img/cart-white.svg);
}

.biologist {
  display: flex;

  width: var(--container);

  margin: 0 auto;
  padding-inline: var(--container-padding);
  padding-top: 124px;
  padding-bottom: 54px;
}

.biologist-img-container::before {
  content: url(./img/marks.svg);

  position: absolute;

  width: 71px;
  height: 71px;

  margin-left: 260px;
  margin-top: -23px;
}

.biologist-text {
  width: 880px;
  
  font-size: 26px;
  line-height: 38px;
  font-style: italic;
  color: #5B5858;

  margin-top: 45px;
  margin-left: 74px;
}

.biologist-name {
  font-size: 22px;
  font-weight: 700;
  line-height: 30.01px;
  text-transform: uppercase;
  font-style: normal;
  color: var(--color-dark);

  margin-top: 38px;
}

.biologist-caption {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.95px;
  line-height: 25px;
  text-transform: uppercase;
  font-style: normal;
  color: var(--color-orange);
}

.gallery {
  width: var(--container);

  margin: 0 auto;
  padding-inline: var(--container-padding);
}

.gallery-title {
  font-size: 48px;
  line-height: 55.01px;
  text-align: center;
}

.gallery-text {
  text-align: center;

  margin-top: 31px
}

.gallery-list {
  display: grid;
  grid-template-columns: 424px 424px 424px;
  grid-gap: 16px;

  margin-top: 47px;
}

.sing-up {
  display: flex;

  width: var(--container);

  margin-top: 23px;
  margin: 0 auto;
  padding-inline: var(--container-padding);
}

.sig-up-container {
  margin-left: 58px;
}

.sig-up-title {
  margin-top: 154px;
}

.sig-up-text {
  width: 562px;

  margin-top: 17px;
}

.sig-up-input {
  width: 418px;
  height: 62px;

  line-height: 25px;

  background: transparent;

  padding-left: 21px;
  margin-top: 55px;
}

.sig-up-button {
  width: 180px;
  height: 34px;

  font-size: 14px;

  margin-left: 7px;
}

.types-of-honey {
  width: var(--container);

  margin: 0 auto;
  padding-inline: var(--container-padding);
}

.types-of-honey-title {
  text-align: center;

  margin-top: 27px;
}

.types-of-honey-text {
  text-align: center;
}

.types-of-honey-list {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;

  margin-top: 65px;
}

.types-of-honey-item {
  display: flex;
  align-items: center;

  width: 640px;
  height: 220px;

  background: var(--color-beige);
}

.types-of-honey-item-img {
  width: 156px;
  height: 162px;

  margin-left: 55px;
  margin-right: 44px;
}

.types-of-honey-item-title {
  font-size: 20px;
}

.types-of-honey-item-text {
  width: 330px;
  
  font-size: 15px;
  line-height: 24px;
}

.types-of-honey-a {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1.95px;
  text-transform: uppercase;
  color: var(--color-orange);

  margin-top: 16px;
}

.types-of-honey-a:hover {
  color: var(--color-brown);
}

.footer {
  width: var(--container);

  padding-bottom: 35px;
  margin: 0 auto;
}

.footer-list {
  display: flex;
  gap: 10px;
  justify-content: center;

  margin-top: 135px;
}

.footer-logo-icon {
  flex-shrink: 0;

  margin: 38px auto 0 auto;
}

.footer-credits {
  font-size: 12px;
  text-align: center;

  margin-top: 9px;
}

@media (max-width:1660px) {
  body {
    background-image: url("./img/bee3.png"), url("./img/bee4.png"), url("./img/honey-text.png"), url("./img/honey.png"), url("./img/round\ plant.png"), url("./img/flowers.png"), url("./img/bee2.png"),
    url("./img/bee6.png");
    background-size: 58px 38px, 77px 57px, 225px 147px, 759px 805px, 103px 133px, 143px 227px,  74px 53px,
    74px 53px;
    background-position: 53.281vw 284px, 79.115vw 224px, clamp(1100px, 80.26vw, 80.26vw) 362px, clamp(500px, 45vw, 49.219vw) 149px, 0px 194px, 0px 814px, 25.104vw 244px,
    86.458vw 2000px;
    background-repeat: no-repeat;
  }
}

@media (max-width:1150px){
  header {
    gap: 0;
    justify-content: space-between;
  }
  .welcome-slogan {
    font-size: 35px;
  }

  .welcome-title {
    font-size: 113px;
  }

  .button-chat {
    width: 149px;
    height: 70px;
  }

  .our-mission-news {
    gap: 22px;
  }

  .news-item-text {
    font-size: 20px;
  }

  .news-item-title {
    font-size: 24px;
  }

  .news-item-data {
    font-size: 16px;
  }

  .our-products-item-title {
    font-size: 26px;
  }

  .our-products-item-text {
    font-size: 20px;
  }

  .button-add-to-cart {
    font-size: 17px;
  }

  .types-of-honey-item-title {
    font-size: 24px;
  }

  .types-of-honey-a {
    font-size: 17px;
  }

  .types-of-honey-item-text {
    font-size: 20px;
  }

  a {
    font-size: 20px;
  }

  body {
    font-size: 26px;

    background-image: url("./img/honey-text.png"), url("./img/honey.png"), url("./img/round\ plant.png"), url("./img/flowers.png"), url("./img/bee2.png"),
    url("./img/bee5.png"), 
    url("./img/bee6.png");
    background-size: 225px 147px, 759px 805px, 90px 116px, 104px 166px, 74px 53px,
    57px 46px, 
    74px 53px;
    background-position: clamp(1100px, 80.26vw, 80.26vw) 362px, clamp(580px, 49.219vw, 49.219vw) 149px, 0px 150px, 0px 814px, clamp(350px,25.104vw, 482px) 200px,
    1737px 1199px, 
    86.458vw 2000px;
    background-repeat: no-repeat;
  }

  h1, h2, h3, h4, h5, h6 * {
    font-size: 44px;
  }

  .button-view-more {
    font-size: 20px;
    width: 200px;
    height: 80px;
  }

  .button-contact {
    width: 170px;
    height: 55px;

    font-size: 16px;
  }
  .sig-up-button {
    width: 150px;
    height: 60px;

    font-size: 18px;
  }
}

@media (max-width:550px) {
  .welcome-slogan {
    font-size: 37px;
  }

  .welcome-title {
    font-size: 117px;
  }

  .show-more-news {
    font-size: 18px;
  }

  .our-products-item-title {
    font-size: 29px;
  }

  .our-products-item-text {
    font-size: 25px;
  }

  .button-add-to-cart {
    font-size: 19px;
  }

  .gallery-list {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
  }

  .gallery-img {
    width: 630px;
    height: 403px;
  }

  .types-of-honey-list {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
    justify-content: center;

    margin-top: 65px;
  }

  .types-of-honey-item-img {
    width: 300px;
    height: 312px;
  }

  .types-of-honey-item {
    width: 1002px;
    height: 343px;
  }

  .types-of-honey-item-title {
    font-size: 32px;
  }

  .types-of-honey-a {
    font-size: 23px;
  }

  .types-of-honey-item-text {
    width: auto;
    font-size: 26px;
  }

  .footer-item-icon {
    width: 60px;
    height: 60px;
  }

  .footer-logo-icon {
    width: 60px;
    height: 42px;
  }

  .footer-credits {
    font-size: 20px;
  }

  a {
    font-size: 22px;
  }

  body {
    font-size: 30px;
  }

  h1, h2, h3, h4, h5, h6 * {
    font-size: 48px;
  }
}